* @sarg3nt

/home/ @BrickCForce @Stanrofl @aidanleuck
/scripts/ @BrickCForce @Stanrofl @aidanleuck
/usr/ @BrickCForce @Stanrofl @aidanleuck
/.github/CODEOWNERS @BrickCForce @Stanrofl @aidanleuck

*.sh @BrickCForce @Stanrofl @aidanleuck
*.md @BrickCForce @Stanrofl @aidanleuck
